
@font-face {
    font-family: 'rick_and_mortymedium';
    src: url('./components/rick_and_morty_by_shittychan-d9h2vl6-webfont.woff2') format('woff2'),
         url('./components/rick_and_morty_by_shittychan-d9h2vl6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.card {
    display: inline-block;
    background-color: lightgreen;
    color: black;
    padding: 4px;
    margin: 3px;
    border-radius: 3px;
    text-align: center;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.2);
}

.characterList {
    text-align: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 3rem;
}

body {
    font-family: 'rick_and_mortymedium';
    background-image: url('https://image.ibb.co/mY5Q4y/backgroundpic.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
}

.searchBox {
    text-align: center; 
}

.textBox {
    background-color: aliceblue;
    padding: 5px;

}