
@font-face {
    font-family: 'rick_and_mortymedium';
    src: url('./components/rick_and_morty_by_shittychan-d9h2vl6-webfont.woff2') format('woff2'),
         url('./components/rick_and_morty_by_shittychan-d9h2vl6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.card {
    display: inline-block;
    background-color: rgb(192, 245, 219);
    color: black;
    padding: 4px;
    margin: 3px;
    border-radius: 6px;
    text-align: center;
    transition: transform .2s;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsDisplay {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.card:hover {
    transform: scale(1.2);
}

.characterList {
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.scroll {
    margin-bottom: 20px;
}

body {
    font-family: 'rick_and_mortymedium';
    background-image: url('https://image.ibb.co/mY5Q4y/backgroundpic.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
}

.searchBox {
    text-align: center; 
}

.textBox {
    justify-content: center;
    font-size: 23px;
    font-family: 'rick_and_mortymedium';
    background-color: aliceblue;
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

p {
    font-size: 25px;
}